.title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.history {
    align-items: center;
}

.photos {
    background-color: black;
    height: 500px;

}

.first{
    display: flex;
}

.second{
    display: flex;
}

h2{
    text-align: center;
}

.one {
    align: center;
    display: flex;
    justify-content: space-evenly;
}